.search-container{
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    line-height: 60px;
}
.search-container input{
    width: 50%;
    line-height: 30px;
}

.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    margin-left: 200px;
    border-right: 1px solid gray;
}