.header{
    text-align: center;
}
.logo{
    width: 200px;
    margin: 20px;
}
.header nav{
    text-align: left;
    background-color: black;
    line-height: 70px;
}
.header nav a{
    padding: 10px;
    margin-left: 20px;
    text-decoration: none;
    color: whitesmoke;
}
.header nav a:hover{
    background-color: gray;
    padding: 10px;
   border-radius: 3px;
   
}